<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="event">

    <select id="test" resultType="EventDTO">


        select * from EVENT order by EVENT_NO desc

    </select>

    <select id="event_view" resultType="EventDTO">

        select * from EVENT where event_no=#{event_no}

    </select>

    <select id="commentList" resultType="RapangCommentDTO">

        select * from RAPANG_COMMENT where event_no=#{event_no} order by comment_no desc

    </select>
     <insert id="commentWrite">

        insert into RAPANG_COMMENT values(COMMENT_SEQ.nextval,#{event_no},#{r_id},#{content},sysdate,#{r_pw})

      </insert>

    <delete id="commentDelete">
        delete from RAPANG_COMMENT where comment_no=#{comment_no}

    </delete>

    <update id="commentModify">
        update RAPANG_COMMENT set content=#{content} where comment_no=#{comment_no}

    </update>

    <select id="commentCount" resultType="RapangCommentDTO">
        select count(*) count from rapang_comment where event_no=#{event_no}

    </select>



</mapper>