<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <insert id="join">

    insert into rapang_member(r_name,r_id,r_pw,email,receive,zip,address,phone,sms,tel,birth,lunar_solar,business) values(#{r_name},#{r_id},#{r_pw},
    #{email},#{receive},#{zip},#{address},#{phone},#{sms},#{tel},#{birth},#{lunar_solar},#{business})


    </insert>

  <select id="idChk" resultType="int">

    select count(*) from rapang_member where r_id=#{r_id}

  </select>
<select id="loginOk" resultType="LoginDto">

    select count(*) count from rapang_member where r_id=#{r_id} and r_pw=#{r_pw}

</select>

</mapper>